.header_wrap {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.header_wrap h2 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
}

.header_wrap p {
  font-size: 1.25rem;
  color: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding: 0;
}
