@import "./utilities/Colors.css";

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  font-family: "Poppins", "Rubik", sans-serif, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
