@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Header_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 100;
}

.info_wrap {
  height: 100vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.element {
  width: 50%;
  height: auto;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color);
}

.element i {
  font-size: 4.5rem;
  color: var(--secondary-color);
}

.element h3 a {
  text-decoration: none;
  color: inherit;
}

.contact_form_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contact_form_wrap {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 25px;
  position: relative;
  box-shadow: 4px 4px 8px var(--secondary-color),
    -4px -4px 8px var(--secondary-color);
  z-index: 1;
}

.input_box {
  width: 75%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 10;
  padding: 0 10px;
  z-index: -1;
}

.input_box input {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
}

.input_box input::placeholder {
  opacity: 0;
}

.input_box textarea {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
  resize: none;
}

.input_box textarea::placeholder {
  opacity: 0;
}

.input_box input:focus,
.input_box input:valid,
.input_box input:invalid,
.input_box textarea:focus,
.input_box textarea:valid .input_box textarea:invalid {
  border-width: 3px;
}

.input_box input:invalid,
.input_box textarea:invalid {
  border-color: red;
  border-color: red;
}

.input_box input:focus,
.input_box input:valid,
.input_box textarea:focus,
.input_box textarea:valid {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.input_box input:focus + .label,
.input_box input:valid + .label,
.input_box input:not(:placeholder-shown) + .label {
  transform: translate(-15%, -90%) scale(0.88);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 10;
}

.input_box textarea:focus + .label,
.input_box textarea:valid + .label {
  color: rgba(255, 255, 255, 0.15);
  transform: translate(-15%, -100%) scale(0.88);
}

.input_box textarea:invalid + .label {
  border-color: red;
}

form .button {
  width: 30%;
  height: 10%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

form .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: left;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

form .button:hover::before,
form .button:focus::before {
  transform: scaleX(1);
}

form .button:active::before {
  background-color: var(--accent-color-dark);
}
.background_addonA {
  position: absolute;
  width: 75%;
  aspect-ratio: 1 / 1;
  background: var(--accent-color);
  border-radius: 100%;
  top: -25%;
  left: -40%;
  z-index: -1;
}

.background_addonB {
  position: absolute;
  width: 45%;
  aspect-ratio: 1 / 1;
  background: var(--accent-color-dark);
  border-radius: 100%;
  top: -40%;
  left: 50%;
  z-index: -1;
}

.background_addonC {
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  background: var(--accent-color);
  border-radius: 100%;
  top: 50%;
  left: 70%;
  z-index: -1;
}

.background_addonD {
  position: absolute;
  width: 35%;
  aspect-ratio: 1 / 1;
  background: var(--accent-color-dark);
  border-radius: 100%;
  top: 160%;
  left: 25%;
  z-index: -1;
}
