@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Header_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 100;
}

.content_wrap {
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_contact_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.image {
  width: 80%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_container {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
}
.image_desc_container {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.image_desc_container p {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.input_box {
  width: 75%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  top: 35%;
  left: 5%;
  position: absolute;
  z-index: 10;
  padding: 0 10px;
  z-index: -1;
}

.input_box input {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
}

.input_box input::placeholder {
  opacity: 0;
}

.input_box textarea {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  outline: none;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 0 10px;
  z-index: 1;
  resize: none;
}

.input_box textarea::placeholder {
  opacity: 0;
}

.input_box input:focus,
.input_box input:valid,
.input_box input:invalid,
.input_box textarea:focus,
.input_box textarea:valid .input_box textarea:invalid {
  border-width: 3px;
}

.input_box input:invalid,
.input_box textarea:invalid {
  border-color: red;
  border-color: red;
}

.input_box input:focus,
.input_box input:valid,
.input_box textarea:focus,
.input_box textarea:valid {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.input_box input:focus + .label,
.input_box input:valid + .label,
.input_box input:not(:placeholder-shown) + .label {
  transform: translate(-15%, -90%) scale(0.88);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 10;
}

.input_box textarea:focus + .label,
.input_box textarea:valid + .label {
  color: rgba(255, 255, 255, 0.15);
  transform: translate(-15%, -100%) scale(0.88);
}

.input_box textarea:invalid + .label {
  border-color: red;
}

.form .button {
  width: 30%;
  height: 10%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: left;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.form .button:hover::before,
.form .button:focus::before {
  transform: scaleX(1);
}

.form .button:active::before {
  background-color: var(--accent-color-dark);
}

.content_wrapB {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FAQ_sec {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.FAQ_grouping {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vh;
}

.FAQ_ques {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.1rem;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.FAQ_ques i {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-right: 2.5%;
}

.FAQ_ques h2 {
  margin-left: 2.5%;
}

.FAQ_ans {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
  padding: 10px 10px;
  position: relative;
  z-index: 1;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}

.FAQ_ans p {
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: justify;
  text-justify: inter-word;
}

.FAQ_ques:hover .FAQ_ans {
  border-color: var(--accent-color);
}

.background_addonA {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  rotate: 45deg;
  background-color: var(--accent-color);
}

.background_addonB {
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 130%;
  left: -50%;
  z-index: -1;
  rotate: 180deg;
  background-color: var(--accent-color-dark);
}
