@import "../utilities/Colors.css";

.container {
  width: 100%;
  height: 50vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--secondary-color);
}

.nav_links,
.policies_links {
  width: 75%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link,
.policy_link {
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.copyright {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-size: 1.5rem;
}
