@import "../Utilities/Colors.css";
@import "../Utilities/Header.css";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

.slash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  left: 50%;
  top: 100%;
}

.content_wrap {
  width: 100%;
  height: 75%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.card {
  width: 27.5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card_image {
  width: 90%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
}

.link {
  text-decoration: none;
}

.text {
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text h3 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 0.5rem 0 0.25rem 0;
  text-decoration: none;
}

.text h3:active {
  color: var(--accent-color-dark);
}

.text p {
  font-size: 1rem;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}
