@import "../Utilities/Colors.css";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container h1 {
  font-size: 8rem;
  color: var(--secondary-color);
}

.container h2 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.container p {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.button {
  width: 20%;
  height: 10%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: left;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  transform: scaleX(1);
}

.button:active::before {
  background-color: var(--accent-color-dark);
}
