@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Header_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 100;
}

.content_wrap {
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 15%;
  height: 70vh;
  position: fixed;
  top: 20%;
  left: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cards_container {
  width: 85%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 15vw;
}

.PC_anim {
  width: 26%;
  height: 55vh;
  margin-bottom: 5vh;
}

.sidebar h2 {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.input_group {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 1.2rem;
  flex-direction: column;
  height: 40%;
}

.input_wrap {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.input_label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.sidebar_input {
  appearance: none;
  background-color: var(--primary-color);
  width: 0.75vw;
  height: 0.75vh;
  border-radius: 50px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Poppins", "Rubik", sans-serif, Arial, Helvetica, sans-serif;
  outline: none;
  display: flex;
  display: grid;
  place-content: center;
}

.sidebar_input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--accent-color);
  transition: 120ms transform ease-in-out;
}

.sidebar_input:checked::before {
  transform: scale(1);
}
