@import "../utilities/Colors.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  margin-top: 3vh;
}

.image {
  width: 80%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  filter: brightness(0.8);
}

.content {
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content h2,
.content h3,
.content p {
  display: inline;
  margin: 0;
  padding: 0;
}

.content p {
  font-size: 1rem;
}

.button {
  width: 60%;
  height: 20%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
