@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_anim {
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-left: 3%;
}

.image {
  width: 80%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}

.content {
  width: 55%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-right: 3%;
  margin-bottom: 15vh;
}

.description {
  width: 75%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}

.description p {
  font-size: 1.15rem;
  color: var(--secondary-color);
}

.price {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 1vh;
}

.extra_info_label {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-top: 1rem;
}

.material_group,
.color_group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.material_option,
.color_option {
  font-size: 0.9rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  font-weight: bold;
}

.material_option::before,
.color_option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.2s ease;
  transform-origin: top;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: -1;
}

.word_span {
  display: inline-block;
}

.material_option::before,
.color_option::before {
  background-color: var(--secondary-color);
}

.material_option:hover::before,
.color_option:hover::before {
  transform: scale(1);
}

.material_option:hover {
  color: var(--accent-color);
}
.material_option:active::before,
.color_option:active::before {
  transform: scale(0);
}

.material_option:active,
.color_option:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.mat_highlight,
.color_highlight {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat_highlight {
  background-color: var(--secondary-color);
}

.purchase_button,
.back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.purchase_button {
  color: var(--secondary-color);
  background-color: var(--accent-color);

  border: 2px solid var(--secondary-color);
  width: 25%;
  height: 7.5%;
}

.back_button {
  color: var(--secondary-color);
  background-color: grey;
  border: 2px solid var(--secondary-color);
  width: 2.5vw;
  height: 5vh;
  position: absolute;
  top: 5%;
  left: 10%;
}

.purchase_button::before,
.back_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: left;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
}

.purchase_button::before {
  background-color: var(--secondary-color);
}

.back_button::before {
  background-color: rgb(73, 73, 73);
}

.purchase_button:hover::before,
.back_button:hover::before {
  transform: scaleX(1);
}

.purchase_button:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  color: var(--accent-color);
}

.back_button:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.purchase_button:active::before {
  background-color: var(--accent-color-dark);
}

.back_button:active::before {
  background-color: var(--secondary-color);
}

.purchase_button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.back_button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
}
