@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

.reviews_container_back {
  width: 100%;
  height: 40%;
  margin-bottom: 10%;
  background-color: var(--accent-color);
  z-index: 1;
}

.reviews_container {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0;
}
