@import "../utilities/Colors.css";
@import "../utilities/Header.css";

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Header_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 100;
}

.content_wrap {
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  flex-direction: row;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: none;
  border: none;
  flex-direction: row;
}

.upload_section {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.upload_container {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 2px dashed var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.upload_container i {
  font-size: 4rem;
  color: var(--secondary-color);
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 25%;
  left: 43%;
  transition: color 0.3s ease-in-out;
}

.upload_container:hover i,
.upload_container:hover .upload_label {
  color: var(--accent-color);
}

.upload_box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.upload_label {
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
  position: absolute;
  top: 50%;
  width: 70%;
  pointer-events: none;
  transition: color 0.3s ease-in-out;
}

.files_uploaded {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.25rem;
  color: var(--secondary-color);
  text-align: center;
}

.extra_info_container {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.extra_info_header {
  font-size: 1.5rem;
  color: var(--secondary-color);
  height: 10%;
}

.extra_info_label {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.email_container {
  height: 10%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 60%;
  height: 50%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: "Poppins", "Rubik", sans-serif, Arial, Helvetica, sans-serif;
  outline: none;
}

.description_wrap {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.textarea {
  width: 100%;
  resize: none;
  padding: 0.25rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: "Poppins", "Rubik", sans-serif, Arial, Helvetica, sans-serif;
  outline: none;
}

.textarea:focus {
  border: 2px solid var(--accent-color-dark);
}

.input:focus {
  border: 2px solid var(--accent-color-dark);
}

.material_group,
.color_group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.material_option,
.color_option {
  font-size: 0.9rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  font-weight: bold;
}

.material_option::before,
.color_option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 0.2s ease;
  transform-origin: top;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: -1;
}

.material_option::before,
.color_option::before {
  background-color: var(--secondary-color);
}

.material_option:hover::before,
.color_option:hover::before {
  transform: scale(1);
}

.material_option:hover {
  color: var(--accent-color);
}
.material_option:active::before,
.color_option:active::before {
  transform: scale(0);
}

.material_option:active,
.color_option:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.mat_highlight,
.color_highlight {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat_highlight {
  background-color: var(--secondary-color);
}

.upload_button {
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.upload_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: left;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
}

.upload_button:hover::before {
  transform: scaleX(1);
}

.upload_button:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  color: var(--accent-color);
}

.upload_button:active::before {
  background-color: var(--accent-color-dark);
}

.upload_button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.upload_button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
}

.background_Addon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  rotate: 45deg;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: var(--accent-color);
}

.background_AddonB {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: -70%;
  rotate: 45deg;
  z-index: -1;
  background-color: var(--accent-color-dark);
}
